body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: skyblue;
}

#scoreDisplay {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: white;
    font-family: Arial;
}